button {
  font-family: 'Asap', sans-serif;
  border-style: none;
  background-color: #0000ff;
  border-radius: 1.1rem;;
  padding: 10px;
  color: white;
  transition-duration: 150ms;
}
button:hover {
  background-color: #6d6dff;
}
.container {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Rock Salt', cursive;
}
.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2.6rem;
  text-align: center;
}
.login-button {
  font-size: 2rem;
}
.sign-in{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.username, .password {
  margin: 1.2rem 0;
  width: 15rem;
  height: 1.6rem;
  border-radius: 7px;
  text-align: center;
  border-style: none;
  border: 1px solid black;
  box-shadow: 2px 4px grey;
  font-size: 1.2rem;
}
